.form_inputs div{
  display: flex;
  flex-direction: column;
}

.user_details{
  width: 700px;
  height: 200px;
  padding: 10px;
  margin: 15px;
}
.btns{
  float: right;
  margin-top: 20px;

}
.res-cont{
  height:700px;
}
.add-btn{
  position: absolute;
  right: 47px;
}
.container{
  position: fixed;
  top: 28%;
  display: none;
  right: 35%;
  background: white;
  width: fit-content;
  border: 2px solid black;
  border-radius: 22px;
}
.finalData{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 390px;
}
.sort-style{
  display: flex;
  flex-direction: column;
  height: 626px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}
#popup-2{
  left: -885px;
    top: 48px;
}
.btn-style{
  background-color: #47aa42;
}
.text-color{
  color: #47aa42;
}